name: CI

on:
  push:
    branches:
      - master

permissions:
  contents: write

jobs:
  noop:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout current repo
        uses: actions/checkout@v4
      - name: Checkout v2fly/domain-list-community
        uses: actions/checkout@v4
        with:
          repository: v2fly/domain-list-community
          path: domain-list-community
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.20'
      - name: Build geosite.dat file
        run: |
          go run ./
          cp -f dlc.dat "$GITHUB_WORKSPACE/geosite.dat"
        working-directory: domain-list-community
      - name: Upload geosite.dat to release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: auto-${{ github.run_number }}
          name: Auto Release ${{ github.run_number }}
          body: Automated release from push to main.
          files: geosite.dat
